*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
header{
    max-width: 1300px;
    padding: 40px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left,.header-right{
    display: flex;
    align-items: center;
}
.header-left .logo{
    width: 25px;
    height: 27px;
    margin-right: 30px;
    cursor: pointer;
}
.header-left>ul,.header-right>ul{
    list-style: none;
    display: flex;
}
.header-left>ul li,.header-right>ul>li{
    padding: 0 20px;
}
.header-right>ul li{
    position: relative;
}
.header-left>ul li a,.header-right>ul li a{
    text-decoration: none;
    color: #969595;
}
.header-left>ul li a:hover,.header-right>ul li a:hover{
    color: #252525;
}
.header-left>ul li:first-child a{
    font-weight: 500;
    color: #252525;
}
.header-right button{
    margin: 0 10px;
    border: none;
    border-radius: 12px;
    padding: 13px 20px;
    cursor: pointer;
    font-size: inherit;
    font-family:  inherit;
    font-weight: 500;
    color: black;
}
.header-right button:hover{
    background-color: #e7e7e7;
}
.header-right button:last-child{
    background-color: #000;
    color: #fff;
}
.header-right button:last-child:hover{
    background-color: #353535;
}
.header-right button:focus{
    outline: none;
}
.dropdown{
    width: 800px;
    border-radius: 15px;
    padding: 25px;
    background-color: #fff;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.2);
    position: absolute;
    left: -200px;
    top: 180%;
    display: none;
    justify-content: space-between;
}
.active{
    display: flex;
}
.dropdown i{
    color: #fff;
    background-color: #ced5db;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
}
.dropdown span{
    font-size: 11px;
    font-weight: 500;
    color: #ced5db;
    letter-spacing: 1px;
}
.dropdown ul{
    list-style: none;
}
.dropdown ul li{
    padding-top: 30px;
}
